{% load static %}
<!DOCTYPE html>
<html>

<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WCBZJQFX');</script>
    <!-- End Google Tag Manager -->

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DISCLAIMER</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>


    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCBZJQFX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 border-bottom-blue">
                <a href="/" class="logo-legal">
                   
                   <img src="{% static 'img/theme.svg' %}" alt="Roblox Sex Abuse Claims">
                </a>
            </div>
            <div class="col-md-12">
                <h5 class="pt-5 pb-3">DISCLAIMER</h5>
                <p>NextKey Litigation is a non-Attorney marketing company. This is a paid advertisement
                    for legal services.
                <p />
                <p>
                    Cases are assigned on a random basis to participating law firms.
                <p />
                <p>
                    NextKey Litigation is not a law firm or Lawyer Referral Service. NextKey Litigation does
                    not provide legal advice, services or legal representation to anyone including but not
                    limited to visitors to this site or people responding to our social media or TV ads.
                    <p />
                <p>


                    NextKey Litigation is a privately held Limited Liability Company that does fee based
                    marketing for its law firm clients that offer legal services to individuals that allegedly
                    have been injured or have had their rights violated by video game makers. All
                    disclaimers noted below apply to the following: 1.) users of this website, 2.) people
                    seeing and/or responding to our social media or TV ads, 3.) anyone that views or hears
                    any marketing materials, email or any communication from NextKey Litigation or
                    persons affiliated with NextKey Litigation (“Any Communication”). All rights to these ads
                    and properties are reserved by NextKey Litigation.
                    <p />
                <p>


                    Note all of the following. Your initial call may not be with a licensed attorney and does
                    not constitute legal advice or create an attorney-client relationship. A participating law
                    firm or their agent may evaluate your case and by that process they do not thereby
                    establish an attorney-client relationship. Transmission of information to law firm clients
                    of NextKey Litigation about potential clients responding to Any Communication from
                    NextKey Litigation is not intended to create and does not constitute an attorney-client
                    relationship. Viewing or hearing Any Communication from NextKey Litigation,
                    requesting additional information, or transmitting information back and forth, should
                    never be considered the formation of an attorney-client relationship.
                    <p />
                <p>


                    An attorney-client relationship will only be created by a written agreement between a
                    law firm and a client.
                    <p />
                <p>


                    You understand and agree that any information you initially provide to NextKey Litigation
                    or a law firm evaluating your case, is done so voluntarily and will not be considered nor
                    treated as confidential information until such law firm has been retained by you in
                    writing. Since NextKey Litigation is not a law firm, such information will never be
                    deemed or agreed to be confidential as to NextKey Litigation.
                    <p />
                <p>


                    A participating law firm may accept or reject a case based at their sole discretion.
                    Rejection of your case is not the expression of a legal opinion about your case, instead
                    you are encouraged to discuss the matter with any other law firm or attorney of your
                    choice. Participating law firms varies for each campaign and changes from time to time.
                    Click here for current list. Participating law firms subject to change without notice.
                    <p />
                <p>


                    If there are multiple participating firms, matching of an initial inquiry to a specific law firm
                    is done by an internal random process. Some cases may be transferred to other
                    attorneys, discuss with your attorney.
                    <p />
                <p>


                    Clients will not be responsible for a legal fee unless there is a resolution of their claim or
                    settlement in their favor, or they win at trial. However, client may be responsible for
                    costs and any awarded costs and fees. Consult with your attorney.
                    <p />
                <p>


                    The statements made in Any Communication from NextKey Litigation do not fully state
                    all the requirements needed for a successful case. Do not select an attorney or law firm
                    solely based upon an advertisement. No representation is made that the quality of legal
                    services to be performed is greater than the quality of legal services performed by other
                    lawyers or that any attorney involved with this ad or Any Communication is a licensed
                    specialist of any state. No claim to the contrary is made by us.
                    <p />
                <p>


                    Any statement contained in Any Communication from us shall not constitute nor act as a
                    guarantee, warranty or prediction regarding the ultimate outcome of any matter or legal
                    proceeding. NextKey Litigation does not guarantee the accuracy of the information
                    provided in Any Communication but believes them to be accurate. Do not use Any
                    Communication from us as a substitute for seeking your own legal advice nor failing to
                    make your own investigation of facts and claims and seeking advice from an
                    appropriate professional where appropriate in your judgment.
                    <p />
                <p>


                    The material and data from Any Communication from us is general in nature and may
                    not apply to your specific circumstances. Every case comes with its own set of unique
                    circumstances and facts.
                    <p />
                <p>


                    Do not respond to us on a specific claim if you already have an attorney as to that
                    specific claim or campaign. If you do have an attorney as to a specific claim or
                    campaign, do not disclose any information regarding your attorney or any information.
                    <p />
                <p>


                    This website is not affiliated with any maker of video games or any trademarked
                    product. The information in this site was not written by medical professionals and should
                    not be viewed as medical or legal advice and should never interfere with a patient and
                    his or her healthcare providers.
                    <p />
                <p>


                    By placing a call to us or entering nextkeylitigation.com site (and the links accessible
                    through this site) you expressly acknowledge your understanding and agreement to all
                    of the disclaimers and agreements contained herein.
                    <p />
                <p>


                    The law firm that responds to your inquiry will have no obligation to take any action to
                    protect your interests unless he or she agrees to do so in writing. NextKey Litigation
                    does not guarantee a response to your inquires, although in most cases you should be
                    contacted by a lawyer within three business days if your inquiry has not already been
                    answered.
                    <p />
                <p>


                    You may be entitled to compensation if you or a loved one has been injured or has had
                    their rights violated by a video game. The choice of an attorney is an important decision
                    that should not be based solely upon advertisements. Results are not guaranteed.
                    <p />
                <p>


                    NextKey Litigation assumes no liability for information stated in Any Communication
                    from us. NextKey Litigation assumes no liability for any advice given to you or for any
                    actions taken by a lawyer that you may have retained through us. As to all such
                    information received from Any Communication from us, there is no warranty, guarantee
                    or prediction of outcome.
                    <p />
                <p>


                    By visiting this site and/or replying to our social media or TV ads, you agree that
                    NextKey Litigation is not responsible or liable for any claim, loss or damage of any kind,
                    directly or indirectly resulting from your use of any law firm, legal advice or any
                    information obtained from NextKey Litigation.
                    <p />
                <p>


                    For additional questions regarding our Disclaimer, please email: <a href="mailto:    
    info@nextkeylitigation.com">info@nextkeylitigation.com</a>

                </p>
            </div>

        </div>
    </div>
    <footer class="footer text-secondary">
        <div class="d-block d-md-flex justify-content-between align-items-center px-3 py-2">

            <div>
                <a href="/" class="text-secondary">Home</a> |
                <a href="{% url 'about_us' %}" class="text-secondary">About Us</a> |
                <a href="{% url 'consent_box' %}" class="text-secondary">Consent Box</a> |
                <a href="{% url 'disclaimer' %}" class="text-secondary">Disclaimer</a> |
                <a href="{% url 'participating_firms' %}" class="text-secondary">Participating Firms</a> |
                <a href="{% url 'privacy_policy' %}" class="text-secondary">Privacy Policy</a> |
                <a href="{% url 'terms_of_service' %}" class="text-secondary">Terms of Service</a> |
            </div>
            <div class="d-flex align-items-center gap-2">
                <span>Follow us on:</span>
                <a href="https://facebook.com" target="_blank" class="text-secondary">
                    <img src="{% static 'img/facebook.png' %}" alt="Facebook" width="20" />
                </a>
                <a href="https://instagram.com" target="_blank" class="text-secondary">
                    <img src="{% static 'img/insta.png' %}" alt="Instagram" width="20" />
                </a>
            </div>
        </div>
    </footer>
</body>

</html>