<div class="col-12">
                            <div class="d-flex justify-content-between position-relative">
                                <label>Did you complain about the predator to Roblox?</label>
                                <div class="d-flex gap-4 position-relative rb-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="complained_to_roblox" value="Yes"
                                            id="robloxYes">
                                        <label class="form-check-label" for="robloxYes">Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="complained_to_roblox" value="No"
                                            id="robloxNo_0">
                                        <label class="form-check-label" for="robloxNo_0">No</label>
                                    </div>
                                </div>       
                            </div>
                        </div>